name: PR Agent

on:
  workflow_call:
    inputs:
      runs-on:
        description: The type of machine to run the job on
        default: ubuntu-latest
        type: string
    secrets:
      OPENAI_KEY:
        required: true
      TALKABLE_BOT_GITHUB_ACCESS_TOKEN:
        required: true

jobs:
  pr-agent:
    if: |
      github.event.sender.type != 'Bot' &&
      github.actor != 'talkable-bot' &&
      (
        github.event_name == 'pull_request' ||
        (
          github.event_name == 'issue_comment' &&
          (
            contains(github.event.comment.body, '/describe') ||
            contains(github.event.comment.body, '/improve') ||
            contains(github.event.comment.body, '/review')
          )
        )
      )

    runs-on: ${{ inputs.runs-on }}
    permissions:
      issues: write
      pull-requests: write
      contents: write

    steps:
      - name: PR Agent action step
        id: pragent
        uses: qodo-ai/pr-agent@main
        env:
          OPENAI_KEY: ${{ secrets.OPENAI_KEY }}
          GITHUB_TOKEN: ${{ secrets.TALKABLE_BOT_GITHUB_ACCESS_TOKEN }}
          github_action_config.auto_review: "true"
          github_action_config.auto_describe: "true"
          github_action_config.auto_improve: "false"
          config.model: "gpt-5-2025-08-07"
          config.fallback_models: '["o4-mini"]'
          pr_reviewer.extra_instructions: "Focus on identifying bugs, performance bottlenecks, logical errors and security issues."
